@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@800&family=Signika+Negative:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*NAV BAR*/

header {
  position: static;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  background-color: #bbbbbb;
}
/*FORM EN FAQ*/

fieldset {
  border-color: white;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  height: max-content;
}

fieldset div {
  margin: auto;
  margin-top: 10px;
  padding: auto;
}

fieldset label {
  text-align: center;
  margin-top: 10px;
}

fieldset p {
  text-align: center;
  margin-top: 10px;
}

fieldset select {
  margin-top: 10px;
}

input {
  margin: auto;
  margin-top: 10px;
  height: 33px;
  width: 300px;
}

/*Lista en FAQ*/

section div ol {
  justify-content: center;
  list-style: decimal-leading-zero;
}

section div ol li {
  margin: 5px;
  padding: 0;
  max-width: max-content;
  background-color: rgb(165, 165, 165);
  margin: 10px 0 10px 0;
}

section div ul {
  justify-content: center;
  list-style: decimal;
}

section div ul li {
  background-color: transparent;
  max-width: max-content;
  padding: 0;
  margin: 10px 0 10px 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Clases*/

.grid {
  display: grid;
  background-color: #292929;
  margin: 0;
  padding: 1rem;
  gap: 1.5rem;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "nav nav"
    "main aside"
    "main aside"
    "footer footer";
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.nav {
  grid-area: nav;
}

.img--border {
  height: max-content;
  width: max-content;
  border: #616161;
  border-style: solid;
  border-radius: 50%;
  padding: 0;
  margin: 15px 20px 15px 20px;
}

.titles {
  font-size: 2rem;
  text-align: center;
  align-self: auto;
  margin: 15px 0px 0px 0px;
  padding: 0;
}

.logo {
  border-style: outset;
  border-radius: 100%;
  height: max-content;
  overflow: hidden;
  margin: 5px 15px 0px 15px;
  border-color: #636363;
}

/*Animations*/

/*Media Query*/

/*--Tablet--*/
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }
  header nav ul li {
    margin: 0 5px 0 5px;
  }
  .img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card__img {
    height: 100px;
    align-self: center;
  }

  .adjust--ubi {
    display: flex;
    flex-direction: column;
  }

  .adjust--hist {
    width: 525px;
    height: 300px;
  }
}

/*--Mobile--*/
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }
  header nav ul li {
    text-align: center;
    margin: 0 3px 0 3px;
    padding: 0;
  }
  header nav ul li a {
    font-size: 11px;
  }

  .img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img--border {
    width: 90px;
  }

  section div iframe,
  section div img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .iframeHistory {
    height: 100px;
    width: 150px;
  }
  .adjust--hist {
    width: 325px;
    height: 250px;
  }
}
