@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@800&family=Signika+Negative:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: static;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
/*FORM EN FAQ*/

fieldset {
  border-color: white;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  height: max-content;
}

fieldset div {
  margin: auto;
  margin-top: 10px;
  padding: auto;
}

fieldset label {
  text-align: center;
  margin-top: 10px;
}

fieldset p {
  text-align: center;
  margin-top: 10px;
}

fieldset select {
  margin-top: 10px;
}

input {
  margin: auto;
  margin-top: 10px;
  height: 33px;
  width: 300px;
}

/*Clases*/

.grid {
  display: grid;
  background-color: #bbbbbb;
  margin: 0;
  padding: 1rem;
  gap: 1.5rem;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "nav nav"
    "main aside"
    "footer footer";
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
}

.nav {
  grid-area: nav;
}

.section__ubi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section__ubi--adjust {
  width: 200px;
  height: 200px;
}

.div__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  height: max-content;
  width: max-content;
  border: #c9c9c9;
  border-style: solid;
  border-radius: 50%;
  padding: 0;
  margin: 15px 20px 15px 20px;
}

.titles {
  font-size: 2rem;
  text-align: center;
  align-self: auto;
  margin: 15px 0px 0px 0px;
  padding: 0;
}

.logo {
  border-radius: 100%;
  height: max-content;
  overflow: hidden;
  margin: 5px 15px 0px 15px;
}

/*Animations*/

/*Media Query*/
/*--Tablet--*/
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }

  .div__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  section iframe,
  section img {
    height: 200px;
    width: 200px;
  }

  .aside {
    align-items: center;
  }
}

/*--Mobile--*/
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }

  .img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: 200px;
    width: 200px;
  }
}
