@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@800&family=Signika+Negative:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  background-color: #292929;
  color: aliceblue;
  font-family: "Neuton", serif;
  font-family: "Signika Negative", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*NAV BAR*/

header {
  position: static;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  background-color: #464646;
}

header a {
  align-self: center;
}

header nav {
  align-self: center;
  padding: auto;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  border-style: outset;
  background-color: #636363;
  margin: 0 20px 0 20px;
  padding: 0 7px 0 7px;
  border-width: 2px;
  border-radius: 7%;
  border-color: rgb(167, 167, 167);
}

header nav ul li a {
  padding: auto;
  text-align: center;
  font-size: 1rem;
  font-family: "Neuton", serif;
  font-family: "Signika Negative", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

/*FORM EN FAQ*/

fieldset {
  border-color: white;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  height: max-content;
}

fieldset div {
  margin: auto;
  margin-top: 10px;
  padding: auto;
}

fieldset label {
  text-align: center;
  margin-top: 10px;
}

fieldset p {
  text-align: center;
  margin-top: 10px;
}

fieldset select {
  margin-top: 10px;
}

input {
  margin: auto;
  margin-top: 10px;
  height: 33px;
  width: 300px;
}

/*Lista en FAQ*/

section div ol {
  justify-content: center;
  list-style: decimal-leading-zero;
}

section div ol li {
  margin: 5px;
  padding: 0;
  max-width: max-content;
  background-color: rgb(165, 165, 165);
  margin: 10px 0 10px 0;
}

section div ul {
  justify-content: center;
  list-style: decimal;
}

section div ul li {
  background-color: transparent;
  max-width: max-content;
  padding: 0;
  margin: 10px 0 10px 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Clases*/

.grid {
  display: grid;
  background-color: #292929;
  margin: 0;
  padding: 1rem;
  gap: 1.5rem;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "nav nav"
    "main aside"
    "footer footer";
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer {
  grid-area: footer;
}

.nav {
  grid-area: nav;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 5px 0;
  height: auto;
  width: auto;
  background-color: #7c7c7c;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.card__info {
  width: auto;
  height: auto;
  background-color: #7c7c7c;
  margin: 5px 0 5px 0;
  border-radius: 5px;
}

.card__img {
  max-height: 220px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  border-style: double;
  border-color: rgb(26, 26, 26);
}

.card__p {
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
  width: fit-content;
}

.card__p--info {
  margin: auto;
  padding: 0;
  text-align: center;
  width: fit-content;
}

.card__p--medium {
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: medium;
}

.card__p--h4 {
  margin: 5px 0 0 0;
  padding: auto;
  text-align: center;
  text-decoration: underline;
}

.card__p--h5 {
  margin: 5px 0 0 0;
  padding: auto;
  text-align: center;
  text-decoration: underline;
  font-size: large;
}

.list {
  margin: auto;
  padding: auto;
}

.list--flex {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: space-around;
}

#imgFaq {
  margin-top: 20px;
  opacity: 0.5;
}

.adjust {
  margin: auto;
  padding: auto;
}

.adjust--ubi {
  width: auto;
  height: auto;
}

.adjust--hist {
  width: auto;
  height: auto;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img--border {
  height: max-content;
  width: max-content;
  border: #616161;
  border-style: solid;
  border-radius: 50%;
  padding: 0;
  margin: 15px 20px 15px 20px;
}

.p {
  margin: 3%;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.titles {
  font-size: 2rem;
  text-align: center;
  align-self: auto;
  margin: 15px 0px 0px 0px;
  padding: 0;
}

.logo {
  border-style: outset;
  border-radius: 100%;
  height: max-content;
  overflow: hidden;
  margin: 5px 15px 0px 15px;
  border-color: #636363;
}

/*Media Query*/

/*--Tablet--*/
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }
  header nav ul li {
    margin: 0 5px 0 5px;
  }
  .img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card__img {
    height: 100px;
    align-self: center;
  }

  .adjust--ubi {
    display: flex;
    flex-direction: column;
  }

  .adjust--hist {
    width: 525px;
    height: 300px;
  }
}

/*--Mobile--*/
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }
  header nav ul li {
    text-align: center;
    margin: 0 3px 0 3px;
    padding: 0;
  }
  header nav ul li a {
    font-size: 11px;
  }

  .img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img--border {
    width: 90px;
  }

  section div iframe,
  section div img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .iframeHistory {
    height: 100px;
    width: 150px;
  }
  .adjust--hist {
    width: 325px;
    height: 250px;
  }
}
